#Cvtemplate {
    padding: 2px;
}

#Cvtemplate .row {
    padding: 5px;
    margin-right: 3px;
    margin-left: 0px;
}

.cv-template {
    font-family: 'Times New Roman', 'Times', 'serif';
    height: 100vh;
    overflow-y: scroll;
}

body {
    padding: 2px;
    color: black;
    font-family: 'Times New Roman', Times, serif;

}

.cv-form {
    background-color: gray;
    height: 100vh;
    overflow-y: scroll;
}

/* .colorbtn{
    color:black;
} */

/* Footer styling */

.footer {
    font-size: 18px;
    width: 100%;
    background-color: #000000bd;
    color: #fff;
    padding: 30px 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.footer-content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}


.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}

.footer-menu li:last-child {
    margin-right: 0;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
}

.hidden{
    display: none;
}

@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .footer-menu {
        text-align: left;
    }

    .footer-menu li {
        display: block;
        margin-bottom: 10px;
    }
}

.attribute {
    position: absolute;
    bottom: 10px;
}